#container {
    text-align: center;

    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.margin-container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.margin-button-submit {
    margin-top: 2rem !important;
    float: right !important;
}

.margin-item {
    margin: 1rem 0;
}

.size-label {
    font-size: 1.3rem;
}

.margin-button {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}