<ion-header>
  <ion-toolbar>
    <ion-title>Registro de datos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container" class="margin-container">
    <form [formGroup]="formData">
      <ion-item class="margin-item">
        <ion-label position="stacked" class="size-label">Nombre del campo</ion-label>
        <ion-select formControlName="name" (ionChange)="onChangeCampo($event)">
          <ion-select-option *ngFor="let campos of nameCampos" [value]="campos">{{ campos }}</ion-select-option>
        </ion-select>

      </ion-item>
      <ion-item class="margin-item">
        <ion-label position="stacked" class="size-label">Identificación del rodeo</ion-label>
        <ion-select formControlName="rodeo" [disabled]="!formData.get('name').value">
          <ion-select-option *ngFor="let rodeo of rodeoOptions" [value]="rodeo">{{rodeo}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="margin-item">
        <ion-label position="stacked" class="size-label">Ubicación del campo</ion-label>
        <ion-select formControlName="location" [disabled]="!formData.get('name').value">
          <ion-select-option *ngFor="let location of locations" [value]="location">{{location}}</ion-select-option>
        </ion-select>
      </ion-item>

    </form>
    <ion-button type="submit" class="margin-button-submit" (click)="goGeneralParameters()" [disabled]="!formData.get('name').value">Continuar</ion-button>
  </div>
</ion-content>
