<ion-content>
  <img *ngIf="lote.coeficiente <= 25" class="margen-img" src="../../assets/img/consejos.png" width="auto" height="auto">
  <img *ngIf="lote.coeficiente > 25" class="margen-img" src="../../assets/img/error.png" width="auto" height="auto">
  <div id="container" class="margin-container">
    <div style="text-align: start;" *ngIf="lote.coeficiente <= 25">
      <h5 class="weight-font-h5">{{recomendaciones.msjComunCondicion}} {{ getDescripcionEscala() }}</h5>
      <h5 class="weight-font-h5">{{recomendaciones.msjComunCC}}</h5>

      <h5 class="weight-font-h5">{{recomendaciones.msjComunPrenez}}</h5>
      
      <div *ngIf="lote.etapa.descrip == 'Parto' || lote.etapa.descrip == 'Servicio'">
        <div *ngIf="lote.etapa.descrip == 'Parto'">
          <div *ngIf="lote.valorPromedio <= 3 || (lote.valorPromedio > 3 && lote.valorPromedio < 6) || (lote.valorPromedio >= 6 && lote.valorPromedio <= 7)">
            <h5 class="weight-font-h5">{{recomendaciones.parto.msjComunMenorIgualTresMenorIgualSieteMayorIgualSeisMenorSeisMayorTres}}{{ getDescripcionEscala() }}{{recomendaciones.parto.msjComunMenorIgualTresMenorIgualSieteMayorIgualSeisMenorSeisMayorTres2}}</h5>
          </div>
          <div *ngIf="lote.valorPromedio > 7">
            <h5 class="weight-font-h5">{{recomendaciones.parto.mayorSiete.msjComun}}</h5>
          </div>
        </div>

        <div *ngIf="lote.etapa.descrip == 'Servicio'">
          <div *ngIf="lote.valorPromedio <= 3">
            <h5 class="weight-font-h5">{{recomendaciones.servicio.menorIgualTres.msjComunUnoCincoUnoNueve}}{{ getDescripcionEscala() }}{{recomendaciones.servicio.menorIgualTres.msjComunUnoCincoUnoNueve2}}</h5>
          </div>
          <div *ngIf="lote.valorPromedio > 3 && lote.valorPromedio < 6">
            <h5 class="weight-font-h5">{{recomendaciones.servicio.menorSeisMayorTres.msjComunUnoCincoUnoNueve}}{{ getDescripcionEscala() }}{{recomendaciones.servicio.menorSeisMayorTres.msjComunUnoCincoUnoNueve2}}</h5>
          </div>
          <div *ngIf="lote.valorPromedio >=6 && lote.valorPromedio <= 7">
            <h5 class="weight-font-h5">{{recomendaciones.servicio.menorIgualSieteMayorIgualSeis.msjComun}}</h5>
          </div>
          <div *ngIf="lote.valorPromedio >= 7">
            <h5 class="weight-font-h5">{{recomendaciones.servicio.mayorSiete.msjComunUnoCincoUnoNueve}}{{ getDescripcionEscala() }}{{recomendaciones.servicio.mayorSiete.msjComunUnoCincoUnoNueve2}}</h5>
          </div>
        </div>
      </div>
      
      <div *ngIf="lote.etapa.descrip == 'Destete'">
        <div *ngIf="lote.valorPromedio <= 3">
          <h5 class="weight-font-h5">{{recomendaciones.destete.menorIgualTres.msjComun}}</h5>
        </div>
        <div *ngIf="lote.valorPromedio > 3 && lote.valorPromedio < 6">
          <h5 class="weight-font-h5">{{recomendaciones.destete.menorSeisMayorTres.msjComun}}</h5>
        </div>
        <div *ngIf="lote.valorPromedio > 7 || (lote.valorPromedio >= 6 && lote.valorPromedio <= 7)">
          <h5 class="weight-font-h5">{{recomendaciones.destete.msjComunMenorIgualSieteMayorIgualSeisMayorSiete}}</h5>
        </div>
      </div>
    </div>

    <div style="text-align: start;" *ngIf="lote.coeficiente > 25">
      <h5 class="weight-font-h5">
        Existe demasiada dispersión en la condición corporal de sus vacas para obtener una predicción de la preñez acertada, se recomienda dividir los animales en sub grupos por condición para diferenciar medidas de manejo
      </h5>
      <h5 class="weight-font-h5">Alerta, Datos muy dispersos</h5>
      <h5 class="weight-font-h5">El {{lote.coeficiente.toFixed(2)}}% del rodeo tiene una condición inferior a 5, Alerta por baja condición</h5>
    </div>
    
    <ion-button class="button-margin" (click)="closeModal()">OK</ion-button>
  </div>
</ion-content>