#container {
    text-align: center;

    position: relative;
    left: 0;
    right: 0;
    top: 0;
    // transform: translateY(-50%);
}

.margin-container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.weight-font-h5 {
    font-weight: 800;
}

.margen-img {
    margin-top: .3rem;
    margin-bottom: 3rem;
}

.button-margin {
    width: 10rem;
    height: 3rem;
    margin-top: 3rem;
}