#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.margin-container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.margin-button-submit {
  margin-top: 2rem !important;
  float: right !important;
}

.margin-item {
  margin: 1rem 0;
}

button-ion.start-sampling-btn {
  font-weight: bold;
}

.size-label {
  font-size: 1.2rem;
  text-align: start;
}

.size-items {
  font-size: 1rem;
}