<ion-header>
  <ion-toolbar>
    <ion-title>Parametros generales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container" class="margin-container">
    <!-- <form [formGroup]="formData" (ngSubmit)="onSubmit()"> -->
      <!-- (ngSubmit)="onSubmit()" -->
      <ion-list>
        <ion-radio-group [(ngModel)]="escala">

          <ion-list-header>
            <ion-label class="ion-text-left" class="size-label">¿Qué escala desea usar?</ion-label>
          </ion-list-header>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label class="size-items">1-9</ion-label>
                <ion-radio value="1-9" (change)="onItemChange($event)"></ion-radio>
              </ion-item>
            </ion-col>
  
            <ion-col>
              <ion-item>
                <ion-label class="size-items">1-5</ion-label>
                <ion-radio value="1-5" (change)="onItemChange($event)"></ion-radio>
              </ion-item>
            </ion-col>

          </ion-row>

        </ion-radio-group>
      </ion-list>

      <ion-list>
        <ion-radio-group [(ngModel)]="etapa">
          <ion-list-header>
            <ion-label class="ion-text-left" class="size-label">Momento de la determinación</ion-label>
          </ion-list-header>
      
          <ion-item>
            <ion-label class="size-items">Parto</ion-label>
            <ion-radio value="Parto"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label class="size-items">Servicio</ion-label>
            <ion-radio value="Servicio"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label class="size-items">Destete</ion-label>
            <ion-radio value="Destete"></ion-radio>
          </ion-item>
      
        </ion-radio-group>
      </ion-list>


      <!-- <ion-item class="margin-item">
        <ion-label position="stacked">Nombre del campo</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>
      <ion-item class="margin-item">
        <ion-label position="stacked">Rodeo a medir</ion-label>
        <ion-input formControlName="rodeo"></ion-input>
      </ion-item>
      <ion-item class="margin-item">
        <ion-label position="stacked">Ubicación del campo</ion-label>
        <ion-input formControlName="location"></ion-input>
      </ion-item> -->

      <ion-button [disabled]="!etapa.length > 0 || !escala.length > 0" type="submit" (click)="onSubmit()" color="success" class="margin-button-submit start-sampling-btn">Iniciar muestreo</ion-button>
    <!-- </form> -->
  </div>
</ion-content>