.subtitle {
    font-size: .8rem;
    color: gray;
}

.subtitle-reg {
    font-size: .8rem;
    color: green;
    float: right;
}

.margin-card {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.border-card-prin {
    border-style: dashed;
    border-color: darkgrey;
    border-radius: 4%;
}

.border-card-sub {
    border-style: dashed;
    border-color: darkgrey;
    border-radius: 10%;
}

.position-number-card-prin {
    font-size: 1.5rem;
}

.position-top-number-card {
    height: 80%;
}

.position-card-sub-title {
    max-width: 3rem;
}

.position-card-sub-title::first-letter {
    font-size: 1.5rem;
    font-weight: bold;
}

.size-card-sub-title-m {
    font-size: .8rem;
}

.position-card-sub-title-sub {
    text-align: center;
    font-size: .8rem;
    color: gray;
}