<ion-header>
  <ion-toolbar>
    <ion-title style="font-size: 5vw;">Estimación de la Condición</ion-title>
    <ion-title class="subtitle">
      {{campo}} - {{rodeo}}
      <ion-title class="subtitle-reg">{{registro}} registros</ion-title>
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card style="margin-bottom: 1rem;">
    <div class="margin-card">
      <ion-item class="ion-activated border-card-prin position-number-card-prin ion-activatable ripple-parent" (click)="addRegistro('1', 1)">
        <ion-label class="position-top-number-card"><strong>1</strong></ion-label>
        <img src="../../assets/img/molde - costado 1.jpg" alt="" srcset="" style="max-width: 50%;">
        <img src="../../assets/img/modelo-bajo 1  atras.jpg" alt="" srcset="" style="max-width: 40%;">
        <ion-ripple-effect></ion-ripple-effect>
      </ion-item>
      <ion-item class="ion-activated border-card-sub ion-activatable ripple-parent" (click)="addRegistro(escala == '1-9' ? '2' : '1 1/2', 2)">
        <ion-label class="position-card-sub-title" [ngClass]="{'size-card-sub-title-m' : escala == '1-5'}">{{escala == '1-9' ? '2' : '1 1/2'}}</ion-label>
        <ion-label class="position-card-sub-title-sub">Cumple algunas condiciones de {{escala == '1-9' ? '3' : '2'}}</ion-label>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-item>
    </div>
  
    <div class="margin-card">
      <ion-item class="ion-activated border-card-prin position-number-card-prin ion-activatable ripple-parent" (click)="addRegistro(escala == '1-9' ? '3' : '2', 3)">
        <ion-label class="position-top-number-card"><strong>{{escala == '1-9' ? '3' : '2'}}</strong></ion-label>
        <img src="../../assets/img/molde - costado 2.jpg" alt="" srcset="" style="max-width: 50%;">
        <img src="../../assets/img/modelo-bajo 2 atras.jpg" alt="" srcset="" style="max-width: 40%;">
        <ion-ripple-effect></ion-ripple-effect>
      </ion-item>
      <ion-item class="ion-activated border-card-sub ion-activatable ripple-parent" (click)="addRegistro(escala == '1-9' ? '4' : '2 1/2', 4)">
        <ion-label class="position-card-sub-title" [ngClass]="{'size-card-sub-title-m' : escala == '1-5'}">{{escala == '1-9' ? '4' : '2 1/2'}}</ion-label>
        <ion-label class="position-card-sub-title-sub">Cumple algunas condiciones de {{escala == '1-9' ? '5' : '3'}}</ion-label>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-item>
    </div>
  
    <div class="margin-card">
      <ion-item class="ion-activated border-card-prin position-number-card-prin ion-activatable ripple-parent" (click)="addRegistro(escala == '1-9' ? '5' : '3', 5)">
        <ion-label class="position-top-number-card"><strong>{{escala == '1-9' ? '5' : '3'}}</strong></ion-label>
        <img src="../../assets/img/molde - costado 3.jpg" alt="" srcset="" style="max-width: 50%;">
        <img src="../../assets/img/molde -medio 3 atras.jpg" alt="" srcset="" style="max-width: 40%;">
        <ion-ripple-effect></ion-ripple-effect>
      </ion-item>
      <ion-item class="ion-activated border-card-sub ion-activatable ripple-parent" (click)="addRegistro(escala == '1-9' ? '6' : '3 1/2', 6)">
        <ion-label class="position-card-sub-title">{{escala == '1-9' ? '6' : '3 1/2'}}</ion-label>
        <ion-label class="position-card-sub-title-sub">Cumple algunas condiciones de {{escala == '1-9' ? '7' : '4'}}</ion-label>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-item>
    </div>
  
    <div class="margin-card">
      <ion-item class="ion-activated border-card-prin position-number-card-prin ion-activatable ripple-parent" (click)="addRegistro(escala == '1-9' ? '7' : '4', 7)">
        <ion-label class="position-top-number-card"><strong>{{escala == '1-9' ? '7' : '4'}}</strong></ion-label>
        <img src="../../assets/img/molde - costado 4 .jpg" alt="" srcset="" style="max-width: 50%;">
        <img src="../../assets/img/molde -alto 4 atras.jpg" alt="" srcset="" style="max-width: 40%;">
        <ion-ripple-effect></ion-ripple-effect>
      </ion-item>
      <ion-item class="ion-activated border-card-sub ion-activatable ripple-parent" (click)="addRegistro(escala == '1-9' ? '8' : '4 1/2', 8)">
        <ion-label class="position-card-sub-title">{{escala == '1-9' ? '8' : '4 1/2'}}</ion-label>
        <ion-label class="position-card-sub-title-sub">Cumple algunas condiciones de {{escala == '1-9' ? '9' : '5'}}</ion-label>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-item>
    </div>

    <div class="margin-card">
      <ion-item class="ion-activated border-card-prin position-number-card-prin ion-activatable ripple-parent" (click)="addRegistro(escala == '1-9' ? '9' : '5', 9)">
        <ion-label class="position-top-number-card"><strong>{{escala == '1-9' ? '9' : '5'}}</strong></ion-label>
        <img src="../../assets/img/molde - costado 5 .jpg" alt="" srcset="" style="max-width: 50%;">
        <img src="../../assets/img/molde -alto 5 atras.jpg" alt="" srcset="" style="max-width: 40%;">
        <ion-ripple-effect></ion-ripple-effect> 
      </ion-item>
    </div>
  </ion-card>

  <ion-button color="danger" style="margin-left: 0.7rem; margin-bottom: 1rem;" (click)="goHome()">CANCELAR</ion-button>
  <ion-button color="success" style="float: right; margin-right: 0.8rem;" (click)="finMuestreo()">FIN MUESTREO</ion-button>
</ion-content>
