#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.margin-label {
  margin-left: 0.5rem;
}

.primary-label {
  font-weight: 900;
}

.size-result {
  font-size: 1.1rem;
}

.margin-recomendaciones {
  float: right;
  margin-bottom: 1rem;
}

.weight-font-h5 {
  font-weight: 800;
}