<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      INTA
    </ion-title>
    <ion-title slot="end">
      <ion-icon name="cloud-upload-outline"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="margin-bottom: 5rem;">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- Si no tiene lotes identificados -->
  <div id="container" *ngIf="cant == 0">
    <img src="../../assets/img/no-hay-mediciones.jpg" width="300" height="300">
    <h2>NO HAY MEDICIONES</h2>
    <ion-button [routerLink]="['/identifi-lote']">COMENZAR</ion-button>
  </div>

  <!-- SI existen lotes -->
  <div *ngIf="cant > 0">
    <div *ngFor="let item of historico">
      <ion-card>
        
        <ion-card-header>
          <ion-row>
            <ion-col>
              <ion-card-title>
                <h5 class="weight-font-h5">{{item?.campo}}</h5>
              </ion-card-title>
              <ion-card-subtitle>
                {{item?.fechaMedicion | date : 'd MMM y HH:mm' : 'es'}}hs
              </ion-card-subtitle>
            </ion-col>
          </ion-row>

        </ion-card-header>
        <ion-card-content>
          <ion-row>
            <ion-col>
              <p>Rodeo: {{item?.rodeo}}</p>
              <p>Muestra: {{item?.registro}} cab.</p>
              <p>CC media: {{ item?.escala.descrip == '1-5' ? item?.promedioTotalUnoCinco : item?.valorPromedio}} </p>
              <p>Escala: {{ item?.escala.descrip }}</p>
            </ion-col>
            <ion-col>
              <h1 *ngIf="item?.coeficiente <= 25" class="size-result"><b>{{ isRodeoRiesgo(item) }}</b></h1> 
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p>Condición Critica al {{item?.etapa.descrip.toString().toUpperCase()}} {{ getDescripcionEscala(item) }}</p>

            </ion-col>
          </ion-row>
          <div>
            <a class="margin-recomendaciones" expand="full" (click)="openModal(item)" id="trigger-button">VER MÁS</a>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
    <div style="height: 4rem;"></div>
  </div>
</ion-content>

<ion-footer *ngIf="cant > 0">
  <ion-fab vertical="bottom" horizontal="end" slot="">
    <ion-fab-button [routerLink]="['/identifi-lote']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-footer>